/* 默认主题 */
#aside-content {
  background: rgba(255, 255, 255, 0);
}

#aside-content > .card-widget:first-child,
#aside-content .card-widget,
.layout > div:first-child:not(.recent-posts),
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

/* 夜间模式 */
[data-theme="dark"] { 
  #aside-content {
    background: rgba(20, 20, 20, 0.8);
  }
}

[data-theme="dark"] {
  #aside-content > .card-widget:first-child,
  #aside-content .card-widget,
  .layout > div:first-child:not(.recent-posts),
  #recent-posts > .recent-post-item {
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(5px);
  }
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}